body {
    font-family: sans-serif;
}

code {
    background-color: #EFEFEF;
    color: #757575;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
}

pre {
    background-color: #EFEFEF;
    color: #757575;
    padding: 1rem;
    border-radius: 0.1rem;
}

a {
    color: #8BC34A
}