<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bartlomiejpluta.ttsserver">

    <permission
        android:name="com.bartlomiejpluta.permission.TTS_HTTP_SERVICE"
        android:description="@string/permission_http_server_description"
        android:label="@string/permission_http_server_label"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.bartlomiejpluta.permission.TTS_HTTP_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".TTSApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.log.LogActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        
        <activity
            android:name=".ui.help.HelpActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.preference.component.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".ui.main.MainActivity" />

        <service
            android:name=".service.foreground.ForegroundService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.bartlomiejpluta.permission.TTS_HTTP_SERVICE" />

        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>